### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import collections
import os

#Constant definition for printing colors
Colors = collections.namedtuple('Colors',['blue','red','nc'])
colors = Colors("\x1b[34m","\x1b[31m","\x1b[0m")

#[-]File to Load
#jupyter does not recognize __file__ adding this to avoid
#rewritig the code if it gets exported
try:
    __thisdir__ = os.path.dirname(os.path.abspath(__file__))
except NameError as error:
    __thisdir__ = "."

__csv_path__ = os.path.join(__thisdir__,"Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(__csv_path__)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players  = len(purchase_data["SN"].unique())
print(f"{colors.blue}Total Players:{colors.nc} {total_players}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Get the purchasing information and stored in variables
unique_items = len(purchase_data["Item ID"].unique())
average_price = "$"+str(round(purchase_data["Price"].mean(),2))
number_of_purchases = len(purchase_data)
total_rev = "$"+str(purchase_data["Price"].sum())
#Create the data frame
purchase_df = pd.DataFrame({"Number of unique items": pd.Series(unique_items,index = ["Value"]),
                            "Average price"         : pd.Series(average_price,index = ["Value"]),
                            "Number of purchases"   : pd.Series(number_of_purchases,index = ["Value"]),
                            "Total revenue"         : pd.Series(total_rev,index = ["Value"])})
purchase_df

       Number of unique items Average price  Number of purchases Total revenue
Value                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
#Create a new frame with the desired information
gen_dem_df = pd.DataFrame(purchase_data[["Gender","SN"]])
#Remove duplicated users #This can be a bug if the user enter a diferent gender
gen_dem_df.drop_duplicates(inplace=True)

#To avoid issues where a user added multiple gender, compare the total players
#vs the data frame that associates the gender and user name
if total_players != len(gen_dem_df):
    msg = "There is at least 1 user with multple genders, please review your data-set"
    raise RuntimeError(msg)

#Get the total gender values
gen_total = gen_dem_df["Gender"].value_counts()
#Calculate the percentage
gen_perc = round((gen_total/total_players)*100,2)
#Create a new data frame with the previos series
pd.DataFrame({"Total Count":gen_total,"Percentage of Players":gen_perc})

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
#Create a new frame to asosciate gender and price only
gen_price_df = pd.DataFrame(purchase_data[["Gender","Price"]])

#[-] Purchase count
#Data frame
purchase_count_df = gen_price_df.groupby("Gender").count()
#rename the column
purchase_count_df.rename(columns={"Price":"Purchase Count"},inplace=True)

#[-] Average purchase price
#Data frame
avg_purchase_df = round(gen_price_df.groupby("Gender").mean(),2)
#rename the column
avg_purchase_df.rename(columns={"Price":"Average Purchase Price"},inplace=True)

#[-] Total purchase value
total_purchase_df = gen_price_df.groupby("Gender").sum()
#rename the column
total_purchase_df.rename(columns={"Price":"Total Purchase Value"},inplace=True)

#[-] Avg Total Purchase per Person
#Create a new frame to add all purcheases per user
avg_person_df = pd.DataFrame(purchase_data[["Price","SN"]])
#Adding all user purcheases
avg_person_df = avg_person_df.groupby("SN").sum()
#Reusing the previos frame when the usres were filtered by gender 
#and merging teh data
merged_frame = pd.merge(avg_person_df,gen_dem_df, on="SN")
#Get the series with the average total purcahe per person
avg_total_df = round(merged_frame.groupby("Gender").mean(),2)
#rename the column
avg_total_df.rename(columns={"Price":"Avg Total Purchase per Person"},inplace=True)

#ToDo: Add format
analysis_df = purchase_count_df.merge(avg_purchase_df,on="Gender")
analysis_df = analysis_df.merge(total_purchase_df,on="Gender")
analysis_df = analysis_df.merge(avg_total_df,on="Gender")
analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [52]:
#Filter data by age, Validate the data is the same for Age and SN duplicated smae above
age_demograph_df = pd.DataFrame(purchase_data[["SN","Age"]])
age_demograph_df.drop_duplicates(inplace=True)

#Create teh bins 
data_bin  = [ 0, 9, 14, 19, 24, 29, 34, 39, purchase_data["Age"].max()]
age_names = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_demograph_df["Age"] = pd.cut(age_demograph_df["Age"],data_bin,labels=age_names)
age_demograph_df.rename(columns={"Age":"Age Range"},inplace=True)

age_demo_res_df = age_demograph_df.groupby("Age Range").count()
age_demo_res_df.rename(columns={"SN":"Total Count"},inplace=True)

total_age_range = age_demo_res_df["Total Count"].sum()

age_demo_res_df["Percentage of Players"] = round((age_demo_res_df["Total Count"]/total_age_range)*100,2)
age_demo_res_df

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [99]:
#Data frame used to get SN and their price
sn_price_df = pd.DataFrame(purchase_data[["SN","Price"]])
#Merge the SN filtered gender data with the price
age_purch_analysis_df = pd.merge(age_demograph_df,sn_price_df, on="SN")

#[-] Purchase Count
purchase_count_ser = age_purch_analysis_df["Age Range"].value_counts()

#[-] Average Purchase Price
avg_purchase_price_df = age_purch_analysis_df.groupby("Age Range").mean()
avg_purchase_price_df["Price"] = round(avg_purchase_price_df["Price"],2)

#[-] Total purchase
total_purchase_df = age_purch_analysis_df.groupby("Age Range").sum()

#[-] Total purchase
avg_tot_purch_per_df = age_purch_analysis_df.groupby("SN")

#[-] Avg Total Purchase per Person
avg_tot_x_person_df = pd.merge(avg_person_df, age_demograph_df, on="SN")
avg_tot_x_person_df = round(avg_tot_x_person_df.groupby("Age Range").mean(),2)

           Price
Age Range
<10         4.54
10-14       3.76
15-19       3.86
20-24       4.32
25-29       3.81
30-34       4.12
35-39       4.76
40+         3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame